*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-white {
    background-color: rgb(252, 251, 251);
}

.bg-white2 {
    background-color: white;
    margin-top: 30px;
    margin-left: 300px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.bg-grey {
    background-color: rgb(236, 232, 232);
}

.fst-figure {
    background-color: rgb(118, 213, 240);
    width: 40px;
    height: 30px;
    border: 2px solid rgb(118, 213, 240);
    border-radius: 10px;
    padding: 5px;
    }

.scd-figure{
    width: 40px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
}

.check{
    color: rgb(6, 192, 6);
}

.fault{
    color: red;
}

.trd-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(118, 213, 240);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.fourth-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(122, 4, 122);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.fifth-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(5, 142, 39);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.sixth-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(220, 130, 13);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.seventh-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(220, 130, 13);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.eighth-figure{
    width: 20px;
    height: 15px;
    background-color: violet;
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}

.ninth-figure{
    width: 20px;
    height: 15px;
    background-color: rgb(90, 230, 39);
    border-radius:10px;
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
}